# Workbook for Programming Crashcourse with Python

References:

- Python course
https://programming-23.mooc.fi/

- Python course by WiDS
https://github.com/keikokamei/WiDS_Datathon_Tutorials/blob/main/01_Intro_to_Jupyter.ipynb

I would recommend that you go through the references at your own pace.

## The Jupyter Notebook
A Jupyter Notebook is divided into what are called cells. You can navigate cells by clicking on them or by using the up and down arrows. Cells will be highlighted as you navigate them.

### Markdown cells
Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](https://www.markdownguide.org/) to add formatting and section headings.


## Code cells
Other cells, like the one below, contain code in the Python.We'll explain what exactly we mean by "expressions" in just a moment - first, let's learn how to "run" cells.

## Running cells
"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces a result. When you run a text cell, it outputs clean, organized writing. When you run a code cell, it computes all of the expressions you want to evaluate, and can output the result of the computation if there is anything to return.

>   To run the code in a cell, first click on that cell. It'll become highlighted with a green or blue border. Next, you can either click the â–¶ Run  button above, or press Shift + Return / Shift + Enter. This will run the current cell and select the next one.


Text cells are useful for taking notes and keeping your notebook organized, but your data analysis will be done in code cells. We will focus on code cells for the remainder of the notebook.

In [1]:
# Run this cell!

print("Hello, World!")

Hello, World!

### 1. Getting Started

1.1. How do you print "Hello Data" to the screen?

In [ ]:
print("Hello Data")

Hello Data

1.2. How do you print "Hello Data" 3 times?

In [ ]:
print("Hello Data " * 3)

Hello World Hello World Hello World

1.3. How do you print "Hello [Your Name]" to the screen with [Your Name] replaced by your actual name?

In [ ]:
name = "Gia"
print("Hello " + name)
print("Hello", name, name, name)

Hello Gia
Hello Gia Gia Gia

1.4. Why and when do you use comment in your code?

In [ ]:
name = "Nga" # TODO (Gia) change this variable

print(name)

Nga

### 2. More on Variables

2.1. What would be output of the following?

In [4]:
number1 = 134
number2 = "123"

print(number1 + number1)
print(number2 + number2)
print(number2 + number2)
print(int(number2) + int(number2))

268
123123
123123
246

2.2. What would be the output of the following?

In [5]:
number = "135"
print(number / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

2.3. What would be the output of the following?

In [6]:
result = 10 * 25
print("The result is", result)

The result is 250

2.4. What are the results of the following?

In [7]:
print(3 + 3 * 4)
print(25 / 2)
print(35 // 2)
print(35 % 2)
print(3**3)

15
12.5
17
1
27

### 3. Conditional

3.1. What's the output here?

In [ ]:
age = 2
if age < 3:
    print("Baby")
    print("Shark")
else:
  print("Doo doo")

Baby
Shark

3.2. This?

In [ ]:
age = 20
if age <= 22:
  print("Too much energy, too much time")
else:
  print("Too much energy, too little time")

Too much energy, too much time

3.3. Where's the error:

In [ ]:
age = 4
if age < 3:
  print("Baby")
elif age < 12:
  print("Children")

Children

3.4. Write a program to check if a variable `number` is odd or even

In [ ]:
number = 23

if number % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

3.5. Write a program to print out the grade of a person according to the following criteria:

*   less than 50: C
*   between 50 and 80: B
*   between 80 and 90: A
*   above 90: A+

Hint: do you have enough information to write a program?

### 4. Loop

4.1. What would be the output here:

In [ ]:
numbers = [2, 5, 5, 6]
print(numbers)
print(len(numbers))
print(len(numbers)-1)
print(numbers[len(numbers)-1]) # numbers[3]

[2, 5, 5, 6]
4
3
6

In [ ]:
fruits = ["banana", "apple", "orange", "grape", "cherries"]
print(len(fruits))

index = len(fruits)-1
print(fruits[index])

5
cherries

4.2. What would be the output here:

In [ ]:
all_fruits = ["banana", "apple", "orange", "grape", "cherries"]

for fruit in all_fruits:
  print(fruit, "tastes nice")

banana tastes nice
apple tastes nice
orange tastes nice
grape tastes nice
cherries tastes nice

4.4. How can we print all the numbers from 0 to 5?

In [ ]:
# method 1
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)

0
1
2
3
4
5

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
for num in numbers:
  print(num)

0
1
2
3
4
5

In [ ]:
numbers = range(0, 6)
for num in numbers:
  print(num)

0
1
2
3
4
5

In [ ]:
number_string = ""
for num in numbers:
  number_string = number_string + " " + str(num)
  print(number_string)

 0
 0 1
 0 1 2
 0 1 2 3
 0 1 2 3 4
 0 1 2 3 4 5

4.5. How can we print all the odd numbers between 0 and 20?

In [ ]:
for num in range(0, 21):
  if num % 2 == 1:
    print(num)

1
3
5
7
9
11
13
15
17
19

### 5. Functions

In [ ]:
def is_odd(number):
  if number % 2 == 1:
    return True
  else:
    return False

print(is_odd(23))
print(is_odd(46))

True
False

5.1. What's the output here?

In [ ]:
hours = 3

def number_of_minutes(hours):
  MINUTES_PER_HOUR = 60
  return hours * MINUTES_PER_HOUR

print(number_of_minutes(hour))

5.2. Write a function to return the number of hours for a given number of days

In [ ]:
days = 7

### 6. Take-home project

6.1. You are given a series of monthly sales revenue (in thousand USD), write a series of functions to compute the following descriptive statistics:
- Mean
- Median
- Mode
- Variance
- Standard deviation
- Count
- Range

In [20]:
sales_revenue = [
    150, 200, 210, 190, 170, 220, 250, 230, 210, 180, 170, 160, 300, 190, 175, 160, 140, 240, 260, 300, 310, 330, 290, 210
]

In [ ]:
def mean(sales_revenue):
    sum = 0
    print(len(sales_revenue))
    # mean 
    for i in sales_revenue:
        sum += i
    print(f"mean: {sum/len(sales_revenue)}")

In [ ]:
def median(sales_revenue):
    sales_revenue.sort()
    # median 
    median = 0
    pivot = 0
    if len(sales_revenue) % 2 != 0:
        pivot = len(sales_revenue)//2 + 1
        print(f"pivot: {pivot}")
        median = sales_revenue[pivot-1]
    else:
        pivot = len(sales_revenue)//2
        median = (sales_revenue[pivot] + sales_revenue[pivot + 1])/2
    print(f"median: {median}")
    # variance
    # sd
    # count 
    # range

In [ ]:
def median(sales_revenue):
    # variance
    # sd
    # count 
    # range

In [23]:
prob_6_1(sales_revenue)

24
mean: 218.54166666666666
median: 210.0

In [24]:
sales_revenue_tmp = [1, 3, 5, 6, 7]
prob_6_1(sales_revenue_tmp)

5
mean: 4.4
pivot: 3
median: 5

6.2. You have a dataset of product categories sold in a department store. Calculate descriptive statistics describing the data:
- Total number of products sold
- Unique product categories
- Frequencies of each product category
- Most frequently sold product category

In [ ]:
product_categories = [
    "Electronics", "Clothing", "Electronics", "Home & Garden", "Clothing", "Beauty",
    "Clothing", "Electronics", "Toys", "Home & Garden", "Clothing", "Clothing",
    "Beauty", "Electronics", "Toys", "Clothing", "Electronics", "Home & Garden",  "Electronics", "Clothing", "Beauty", "Toys"
]